# upstream for uWSGI
upstream uwsgi_app {
    server unix:/myapp/back_web/uwsgi_app.sock;
}

# server
server {
    listen          8000;
    server_name     example.com;
    error_log       stderr warn;
    access_log      /dev/stdout main;

    location / {
        include     /etc/nginx/uwsgi_params;
        uwsgi_pass  uwsgi_app;
    }
}